@import url(https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap);

:root{
    --almost-black: #151515;
    --dark-grey: #444444;
    --gold: #D5966C;
    --white: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
}
body{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 900;
}

/* -------------- general styles ------------- */
p{
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: var(--dark-grey);
}

/* footer padding */
.padding{
    padding: 0 32px;
}



/* header styles */

.text{
    font-weight: 900;
    font-size: 60px;
    line-height: 55px;
    color: var(--almost-black);
    padding: 0px 16px;
}
.header-p{
    padding:32px 16px;
}

/* btn */
.button{
    display: flex;
    align-items: center;
    padding: 0px 16px;
}

.black-button{
    width: 204px;
    height: 77px;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 3.63636px;
    background: var(--almost-black);
    color: #FFFFFF;
    padding: 25px;
}

.gold-button{
    background-color: var(--gold);
    padding: 25px;
}


  

/* background image */
.bg-mobile{
    width: 100%;
    padding-bottom: 32px;
}
.bg-tablet{
    display: none;
}



/* main containers */
main{
    margin:120px 0 120px 0;
    padding: 0 16px;
}
/* images */
main img{
    width: 100%;
    padding: 16px 0;
}

/* text content */
.grid-2 h3{
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    color: var(--almost-black)
}
.grid-2 p{
    color: var(--dark-grey);
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    margin-top: 21px;
}
.grid-5{
    background-color: var(--almost-black);
    padding:48px 24px;
}
.grid-5 h3{
    font-size: 50px;
    line-height: 45px;
    color: var(--white);
    margin-bottom: 24px;
}
.grid-5 p{
    color: var(--white);
}

/* grid layout images for different resolutions */
.tablet-grid-1, .desktop-grid-1{
    display: none;
}
.tablet-grid-3, .desktop-grid-3{
    display: none;
}
.tablet-grid-4, .desktop-grid-4{
    display: none;
}








/* footer */

/* general footer style */
footer section{
    display: grid;
    row-gap: 38px;
}

/* footer specifications */
footer{
    height: 336px;
    background-color: var(--almost-black);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h2{
    width: 112.05px;
    color: var(--white);
}
footer p{
    font-size: 16px;
    line-height: 26px;
    color: var(--white);
}



/* general icon styles */
.social-media-icons{
    display: inline-flex;
}
.social-media-icons a{
    margin-right:20px;
}




/* hovers  */
/* button hovers */
.button:hover .black-button{
    background-color: var(--gold);
}
.button:hover .gold-button{
    background-color: var(--almost-black);
}
/* footer social media icon hover */
footer a:hover path {
    fill: var(--gold);
}




/* responsive */
@media (min-width:768px){
    /* background image and  text positioning */
    .bg-mobile{
        display: none;
    }
    .bg-tablet{
        display: block;
        width: 50%; 
        position: relative;
    }

    .text{
        position: absolute;
        top:20%;
        left: 44%;
        width: 50%;
    }
    .header-p{
        position: absolute;
        top: 35%;
        left: 44%;
        max-width: 339px;
        margin-bottom: 48px;
    }
    .button{
        position: absolute;
        top: 60%;
        left: 44%;
        width: 50%;
    }


    main{
        padding: 0 40px;
    }





    /* hide mobile grid layout images */
    .mobile-grid-1, .mobile-grid-3, .mobile-grid-4{
        display: none;
    }
    .tablet-grid-1, .tablet-grid-3, .tablet-grid-4{
        display: block;
    }


    /* grid layout */
    .grid-container{
        display: grid;
        grid-column-gap: 11px;
        grid-row-gap: 11px;

        grid-template-columns: 3fr 1fr 3fr;
        grid-template-rows: auto auto 3fr;
    }
    .grid-1{
        grid-column: 2/4;
    }
    .tablet-grid-1{
        padding: 0;
    }
    .grid-2{
        grid-column: 1/2;
        grid-row: 1/2;
        width: 100%;
    }
    .grid-3{
        grid-column: 1/3;
        grid-row: 2/4;
    }
    .grid-3 img{
        padding: 0;
    }
    .grid-4{
        grid-column: 3/4;
    }
    .tablet-grid-4{
        padding: 0;
        width: 100%;
       
    }
    .grid-5{
        grid-column: 3/4;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
    }


    /* footer */
    footer section{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
    }
    footer section p{
        max-width: 281px;
    }
}




@media (min-width:1440px){
    /* background */
    .bg-tablet{
        display: none;
    }
    .bg-container {
        max-width: 990px;
        height: 800px;
        position: relative;
    }
      
    /* split colored text and background*/
    .text {
        width: 41%;
        height: 100%;
        position: absolute;
        top: 180px;
        left: 242px;
        font-size: 65px;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: linear-gradient(270deg, black 200px, white 50%);
    }
    .background {
        position: absolute;
        background-color: black;
        background-image: url("assets/desktop/image-hero.jpg");
        background-repeat: no-repeat;
        background-position: right;
        width: 100%;
        height: 100%;
    }
      
    /* p and button positioning */
    .header-p{
        position: absolute;
        top: 152px;
        left: 60%;    
        margin-bottom: 48px;
        max-width: 350px;
    }
    .button{
        position: absolute;
        top: 360px;
        max-width: 30%;
        left: 60%;
    }




    .tablet-grid-1, .tablet-grid-3, .tablet-grid-4{
        display: none;
    }
    .desktop-grid-1, .desktop-grid-3, .desktop-grid-4{
        display: block;
    }
    .grid-1 img, .grid-4 img{
        padding: 0;
    }


    .grid-2 h3{
        font-weight: 900;
        font-size: 60px;
        line-height: 60px;  
    }
    .grid-2 p{
        font-weight: 300;
        font-size: 22px;
        line-height: 32px;
        max-width: 350px;
    }

    .grid-5 h3{
        font-weight: 900;
        font-size: 60px;
        line-height: 60px;
    }
    .grid-5 p{
        font-weight: 300;
        font-size: 22px;
        line-height: 32px;
    }
    /* footer */
    main, footer section{
        padding: 0 165px;
    }

}


