@import url(https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
}

:root{
    --almost-black: #151515;
    --dark-grey: #444444;
    --gold: #D5966C;
    --white: #FFFFFF;
}
body{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 900;
    
    background: #FCFAF9;
}

/* general styles */
h1,h2, h3{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 900;
}
p{
    font-weight: 300;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    color: #444444;
}



/* button */
.button{
    display: flex;
    align-items: center;
}


.gold-button{
    background-color: var(--gold);
    padding: 25px;
}
.black-button{
    width: 204px;
    height: 78px;
    text-decoration: none;
    font-size: 20px;
    background: var(--almost-black);
    color: #FFFFFF;
    padding: 25px;
    letter-spacing: 3.63636px;
}



.button:hover .black-button{
    background-color: var(--gold);
}
.button:hover .gold-button{
    background-color: var(--almost-black);
}


/* map image and button positioning */
.map-mobile{
    width: 100%;
    top: 0;
}
.map-tablet{
    display: none;
}
.map-desktop{
    display: none;
}
header div{
    position: absolute;
    top: 0;
    left: 0;
}

/* adress section */
main{
    background-color: #151515;
    
}
main section{
    height: 493px;
    color: white;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
main section h3{
    font-size: 50px;
    line-height: 45px;
    padding-bottom: 48px;

}
main h4{
    font-size: 32px;
    line-height: 32px;
    color: #D5966C;

}
.location{
    display: grid;
    row-gap: 20px;
    padding-top: 20px;
}
address p{
    color: #FFFFFF;
}








/* footer  */
/* general footer style */
footer section{
    display: grid;
    row-gap: 38px;
}

/* footer specifications */
footer{
    height: 336px;
    background-color: #D5966C;
    display: flex;
    align-items: center;
    padding: 0 32px;
}

footer p{
    color: #151515;
}



/* general icon styles */
.social-media-icons{
    display: inline-flex;
}
.social-media-icons a{
    margin-right:20px;
}

.social-media-icons a path{
    fill: black;
}

/* hovers  */
.social-media-icons a:hover path{
    fill: white;
}



/* responsive */
@media (min-width:768px){

    /* map image background */
    .map-tablet{
        display: block;
        width: 100%;
    }
    .map-mobile{
        display: none;
    }
    .map-desktop{
        display: none;
    }

    /* button positioning on image */
    header div{
        padding-left: 40px;
    }

    /* page padding */
    main section{
        padding:0 40px;
    }
    header div{
        padding: 0 40px;
    }

    /* adress section */
    main section{
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 548px;
    }
    main section h3{
        padding-right: 68px;
    }

    /* footer */
    footer section{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    footer section p{
        max-width: 281px;
    }
}



@media (min-width:1440px){
    header div,
    main section, footer {
        padding: 0 165px;
    }

    /* background images */
    .map-tablet{
        display: none;
    }
    .map-desktop{
        display: block;
        width: 100%;
    }
}